* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #465671;
    --background-color: #edeef6;
    --accent-color: #9fc6cd;
    --heading-color: #31343e;
}

body{
    color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 50px;
}

a{
    text-decoration: none;
}

/* header start*/
header{
    padding: 15px 0;
    background-color: var(--heading-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header nav{
    margin: 0 5%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    color: var(--accent-color);
    border-bottom: solid 3px var(--accent-color) ;
    margin-left: 10px;
}

header nav ul li a:hover{
    background-color: var(--accent-color);
    color: var(--heading-color);
}

.flex-h1-container{
    padding: 3px 15px 3px 100px;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
}

.flex-h1-container h1{
    text-align: right;
}

.flex-h1-container h1 a{
    color: var(--heading-color);
    font-weight: bold;
    font-size: 2.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* header end*/


/* all sections - common classes start */
.card{
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--heading-color);
    margin-bottom: 20px;
}
.section-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
}
.section-left{
    text-align: right;
    width: 15%;
    padding-right: 20px;
    align-self: stretch;
    border-right: solid 3px var(--primary-color);
}
.section-left h2{
    font-size: 2.3vw;
}
.section-right{
    width: 75%;
    padding: 0 0px 0px 20px;
    align-self: stretch;
}
/* all sections - common classes end */


/* jumbotron start */
.jumb{
    background-image: url("../images/banner-mountains.jpg");
    background-size: cover;
    background-position: 0% 0%;
    min-height: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end ;
}

.jumb h2{
    margin-right: 5%;
    font-size: 1.6vw;
}
/* jumbotron end */


/* about me start */
.about-me-p{
    line-height: 1.5;
    font-size: 15px;
    padding-bottom: 15px;
}
/* about me end */


/* Contact me start*/
.contact-me-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.contact-me-flex a{
    font-size: 1.5vw;
    color: var(--heading-color);
    padding-left: 2px;
    border-bottom: solid 3px var(--heading-color);
}
/* Contact me end*/


/* Work section start */ 
.work-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: left;
    align-items: stretch;
    grid-gap: 10px;
}
.work-grid-item{
    border: solid 3px var(--accent-color);
    overflow: hidden;
    width: 100%;
    min-height: 200px; 
    background-size: cover;
    position: relative;
}
.work-grid-item-1{
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    background-image: url("../images/projectMain.png");
}
.work-grid-item-2{
    background-image: url("../images/project2.png");
}
.work-grid-item-3{
    background-image: url("../images/project3.jpg");
}
.work-grid-item-4{
    background-image: url("../images/project_4.png");
}
.work-grid-item-5{
    background-image: url("../images/project5.jpg");
}
.work-grid-item::after{
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 2s;
    z-index: 1;
}
.work-grid-item:hover::after{
    opacity: 0;
}

.work-card-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 20px;
    z-index: 2;
}
.work-card-title{
    font-size: 1.3vw;
    font-weight: bold;
}
.work-card-subtitle{
    font-size: 0.8vw;
}
/* Work section end */ 


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .section-container{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        }
    .section-left{
        border-right: none;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }
    .section-left h2{
        border-bottom: solid 3px var(--primary-color);
        padding-left: 60px;
        padding-right: 60px;
        display: inline;
    }
    .section-right{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
}
