* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #465671;
    --background-color: #edeef6;
    --accent-color: #9fc6cd;
    --heading-color: #31343e;
}

body{
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* header start*/
header{
    padding: 15px 0;
    background-color: var(--heading-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header a{
    text-decoration: none;
}

header nav{
    margin: 0 65px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.2vw;
    color: var(--accent-color);
    border-bottom: solid 3px var(--accent-color) ;
    margin-right: 10px;
}

header nav ul li a:hover{
    background-color: var(--accent-color);
    color: var(--heading-color);
}

.flex-h1-container{
    padding: 3px 15px 3px 100px;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
}

.flex-h1-container h1{
    text-align: right;
}

.flex-h1-container h1 a{
    color: var(--heading-color);
    font-weight: bold;
    font-size: 2.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* header end*/


/* all sections - common classes start */
.card{
    padding: 5px;
    background-color: var(--accent-color);
    color: var(--heading-color);
    margin-bottom: 20px;
}
.section-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
}
.section-left{
    text-align: right;
    width: 15%;
    padding-right: 10px;
    writing-mode: ;
}
.section-left h2{
    font-size: 38px;
}
.section-right{
    width: 85%;
    border-left: solid 3px var(--primary-color);
    padding: 0 80px 15px 20px;
}
/* all sections - common classes end */


/* jumbotron start */
.jumb{
    background-image: url("../images/banner3.webp");
    background-size: cover;
    background-position: 0% 0%;
    min-height: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end ;
}

.jumb h2{
    margin-right: 80px;
    font-size: 1.4vw;
}
/* jumbotron end */


/* about me start */
.section-right p{
    line-height: 1.5;
    font-size: 16px;
}
/* about me end */
